
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <form [formGroup]="loginForm">
            <div class="w3-card w3-round w3-white">
              <div
                class="w3-container w3-padding"
                style="
                margin: 30%;"
              >
                <p>
                  UserName:
                </p>
                <input type="email" class="w3-border w3-padding" formControlName="email" />
                <div style="color: red">
                  {{errorMessages.email}}
                </div>
                <p>
                  Password
                </p>
                <input type="password" class="w3-border w3-padding" formControlName="password" />
                <div style="color: red">
                    {{errorMessages.password}}
                  </div>
                <div>
                  <button
                    type="button"
                    class="w3-button w3-theme"
                    (click)="login()"
                    style="
                    width: 93%;
                    margin-top: 10%;"
                  >
                    <i class="fa fa-pencil"></i> Post
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- End Middle Column -->
    </div>

   