<div class="w3-container w3-card w3-white w3-round w3-margin">
  <br />
  <img *ngIf="tweet.user.profile_background_image_url_https"
    src="{{ tweet.user.profile_background_image_url_https }}"
    alt="Avatar"
    class="w3-left w3-circle w3-margin-right"
    style="width:60px"
  />
  <span class="w3-right w3-opacity">{{ tweet.user.created_at }}</span>
  <h4>{{ tweet.user.name }}</h4>
  <br />
  <h4>followers {{ tweet.user.followers_count }}</h4>
  <h4> tweet ID {{ tweet.id }}</h4>
  <br />
  <hr class="w3-clear" />
  <p>
      {{ tweet.user.description }}
  </p>
  <!-- <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half">
      <img
        src="/w3images/lights.jpg"
        style="width:100%"
        alt="Northern Lights"
        class="w3-margin-bottom"
      />
    </div>
    <div class="w3-half">
      <img
        src="/w3images/nature.jpg"
        style="width:100%"
        alt="Nature"
        class="w3-margin-bottom"
      />
    </div>
  </div> -->

  <button
    type="button"
    data-toggle="modal"
    data-target="#myModal"
    class="w3-button w3-theme-d2 w3-margin-bottom"
  >
    <i class="fa fa-comment"></i> details
  </button>
</div>
<app-tweet-details  [selecteTweet]="tweet" ></app-tweet-details>