
   <app-header></app-header>
   <div
      class="w3-container w3-content"
      style="max-width:1400px;margin-top:80px"
    >
      <!-- The Grid -->
      <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
          <!-- Profile -->
          <div class="w3-card w3-round w3-white"></div>
          <br />

          <!-- Accordion -->
          <div class="w3-card w3-round"></div>
          <br />

          <!-- Interests -->
          <div class="w3-card w3-round w3-white w3-hide-small"></div>
          <br />

          <!-- End Left Column -->
        </div>
    <!-- Page Container -->
    <router-outlet></router-outlet>
     <!-- Right Column -->
     <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center"></div>
    </div>
    <br />

    <div class="w3-card w3-round w3-white w3-center"></div>
    <!-- End Right Column -->
  </div>

  <!-- End Grid -->
</div>
    <app-footer></app-footer>

    <!-- Trigger the modal with a button -->

  
